---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Coding</h2>
		<p>I have been coding for many years now, and I am proficient in Python, HTML, CSS, Javascript and more.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="camera" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Filmaking</h2>
		<p>This year I have been filming events for my school and others for our <a href="https://filmclub.tech">Film Club</a>.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="student" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Student</h2>
		<p>I am currently working through NCEA Level 1 with 102 credits, aiming for an endorsment.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
